<?xml version='1.0' encoding='utf-8'?>
<widget id="es.pilatesmanzaneque.camera" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Camera</name>
    <description>
        Una aplicación simple de PhoneGap que usa la cámara y aplica filtros a la imagen resultante
    </description>
    <author email="fernando.riv.m@gmail.com" href="http://h4ckademy.com">
        Fernando Rivas
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>	

</widget>
